<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>添加</title>
</head>
<body>
	<form action="{:url('save')}" method="post">
		<label for="name">课程：</label><input type="text" name="name" id="name">
		<label for="teacher">教师ID：</label>
		<select type="text" name="teacher_id" id="teacher">
			{volist name="teachers" id="_Teacher"}
			<option value="{$_Teacher->getData('id')}">{$_Teacher->getData('name')}</option>
			
			{/volist}
		</select> 
		<button type="submit">提交</button>
	</form>
</body>
</html>
